
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: gainsboro;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: bold;
}
a:hover
{
    text-decoration: none;
}
.navbar-section{
    width: 100%;
}
.navbar-section a:hover
{
    color:cornflowerblue   
}

.navbar-section a{
    color: white;
}


#home-button{
    
}
#home-button:hover{
    color: white;
}
.badge-custom{
    color:white;
    font-size: 1.3rem;
    
}
.sidebar-right{
    margin-right: 10rem;
}
.sidebar-1{
    border: 2px solid rgb(232, 235, 193);
    border-radius: 15px;
    height: fit-content;
    width: 20rem;
    margin-left: 1.5rem;
}
.whole-page-container{
    
}

.page-content{
    padding-top: 7rem;
}


.dark-text{
    color: black;
}

.update-acc-form{
    border-radius: 10px;
}

.content-section{
    
    
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 47.5rem;

}

.white-background{
    background-color: white;
}

.profile-img{
    height: 125px;
    width: 125px;
}
